body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: .875rem;
  background: #1c1c1c;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Montserrat', sans-serif;
}

input,
textarea,
label,
button {
  font-family: 'Montserrat', sans-serif;
}

input,
textarea {
  width: 96%;
  margin: 5px 0 5px 0;
  padding: 7px;
  border: 3px solid rgba(255, 255, 255, .2);
  border-radius: 4px;
  outline: none;
  background: #fff;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  backdrop-filter: blur(1rem);
  color: white;
  -webkit-appearance: none !important;
  font-size: .875rem;
}

input:focus,
textarea:focus {
  border: 3px solid #3A86FF;
  -webkit-appearance: none !important;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  background: #1c1c1c;
  color: white;
  cursor: pointer;
  outline: none;
}

button:disabled {
  background: rgba(33, 33, 33, .4);
  cursor: default;
}

.loader {
  fill: white;
}

::-webkit-scrollbar {
  width: 9px;
  height: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c1c1c;
}

.index_mobile {
  width: 100%;
  min-height: 100vh;
  background: #8338EC;
}

.index_desktop {
  display: none;
}

@media (min-width: 480px) {
  .index_mobile {
    display: none;
  }

  .index_desktop {
    display: block;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 275px auto;
    background: #8338EC;
  }
}

/* =======NAVBAR========================================== */
nav {
  display: none;
}

@media (min-width: 480px) {
  nav {
    display: block;
    width: calc(100% - 100px);
    height: 100px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, .05);
    color: white;
  }

  nav a {
    color: white;
    margin-right: 15px;
    position: relative;
  }

  .active_nav::after {
    content: '_';
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
  }

  .navbar_search input {
    width: 175px;
    margin: 0;
    padding-left: 30px;
  }

  .navbar_search i {
    margin-right: -25px;
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, .4);
  }
}

/* =======SIDEBAR========================================= */
.sidebar {
  width: calc(100% - 50px);
  height: 100%;
  padding: 25px;
  background: #1c1c1c;
  backdrop-filter: blur(.2rem);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  color: white;
  position: relative;
}

@media (min-width: 480px) {
  .sidebar {
    min-height: calc(100vh - 25px);
    padding: 0 25px 0 25px;
    clip-path: polygon(0 0, 100% 0, 100% 1000%, 0% 100%);
  }
}

.sidebar .sidebar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .sidebar .sidebar_header {
    height: 100px;
  }
}

.sidebar .sidebar_header img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.sidebar h1 {
  margin: 0;
}

.sidebar p:nth-of-type(1) {
  margin: 25px 0;
}

.sidebar p:nth-of-type(2) {
  color: rgba(255, 255, 255, .4);
}

/* =======FOOTBAR========================================= */
.footbar {
  width: 100%;
  height: 75px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c1c1c;
  border-radius: 100% 100% 0 0;
}

@media (min-width: 480px) {
  .footbar {
    display: none;
  }
}

.footbar a {
  width: 65px;
  height: 65px;
  margin: 10px;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  color: white;
}

/* =======TAB============================================= */
.tab {
  width: calc(100% - 100px);
  height: 100px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, .05);
}

.tab a {
  margin-right: 20px;
  color: white;
  font-family: 'Nerko One', cursive;
  font-size: 1rem;
}

.tab i {
  position: relative;
  margin-right: -25px;
  z-index: 2;
}

.tab input {
  padding: 7px 7px 7px 30px;
}

/* =======POEMS=LAYOUT==================================== */
.poems {
  padding: 50px 25px 125px 25px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* =======POEM=LAYOUT===================================== */
.poem {
  width: auto;
  min-width: 250px;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 24px;
  background: #fff;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  backdrop-filter: blur(1rem);
}

@media(max-width: 480px) {
  .poem {
    width: calc(90% - 40px);
    margin: 10px 5%;
  }
}

.poem h1 {
  margin-bottom: 5px;
  font-family: 'Nerko One', cursive;
  color: #fff;
  text-transform: capitalize;
}

.poem small {
  color: rgba(255, 255, 255, .4);
}

.poem-text {
  padding: 25px 0;
  font-weight: 400;
  color: #fff;
}

.poem-text p {
  margin: 5px 0;
}

.poem div {
  margin: 0 0 15px 0;
}

.poem i {
  margin: 0 15px 0 0;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.poem .isLiked {
  color: red;
}

.poem .fa-facebook-f {
  padding: 5px 0 5px 15px;
  border-left: 2px solid rgba(255, 255, 255, .2);
  color: rgba(255, 255, 255, .6)
}

.poem .fa-link {
  font-size: 1rem;
  color: rgba(255, 255, 255, .6)
}

.poem span {
  color: rgba(255, 255, 255, .4);
}

.poem hr {
  width: 35px;
  margin: 25px 0;
}

.poem_comments {
  color: white;
}

.poem_comments input,
.poem_comments textarea {
  width: calc(100% - 20px);
}

::placeholder {
  color: rgba(255, 255, 255, .5);
}

.poem_comments textarea {
  min-height: 25px;
  font-size: .875rem;
}

.poem_comment {
  margin: 5px 0;
  padding: 10px;
  background: rgba(255, 255, 255, .05);
  border-radius: 4px;
}

/* =======ADMIN=ADD=POST================================== */
.admin {
  width: calc(90% - 40px);
  max-width: 400px;
  min-height: 250px;
  margin: 50px 5%;
  padding: 20px 20px;
  border-radius: 24px;
  background: #fff;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  backdrop-filter: blur(1rem);
  color: #fff;
}

/* =======CONTACT========================================= */
.contact {
  padding: 50px 25px 125px 25px;
  color: white;
}

@media (min-width: 480px) {
  .contact {
    width: 350px;
    padding-left: 35px;
  }
}

.contact textarea {
  min-height: 100px;
}

.form_error {
  margin: 0 0 15px 0;
  color: #FFBE0B;
}

.form_success {
  color: white;
}

/* =======ADMIN=========================================== */
.admin_login,
.admin_dashboard {
  padding: 50px 25px 125px 25px;
  color: white;
}

.admin_login button {
  margin: 15px 0;
}
