body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: .875rem;
  background: #1c1c1c;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Montserrat', sans-serif;
}

input,
textarea,
label,
button {
  font-family: 'Montserrat', sans-serif;
}

input,
textarea {
  width: 96%;
  margin: 5px 0 5px 0;
  padding: 7px;
  border: 3px solid rgba(255, 255, 255, .2);
  border-radius: 4px;
  outline: none;
  background: #fff;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  backdrop-filter: blur(1rem);
  color: white;
  -webkit-appearance: none !important;
  font-size: .875rem;
}

input:focus,
textarea:focus {
  border: 3px solid #3A86FF;
  -webkit-appearance: none !important;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 35px;
  border: none;
  border-radius: 4px;
  background: #1c1c1c;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: .85rem;
}

button:disabled {
  background: rgba(33, 33, 33, .4);
  cursor: default;
}

.even_nr {
  margin-left: -10px;
  padding: 0 10px;
  background: rgba(255, 255, 255, .05);
}

.loader {
  fill: white;
}

::-webkit-scrollbar {
  width: 9px;
  height: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c1c1c;
}

.index_mobile {
  width: 100%;
  min-height: 100vh;
  background: #8338EC;
  background: -webkit-linear-gradient(308deg, #8338EC -3.66%, #4638EC 100%);
  background: -o-linear-gradient(308deg, #8338EC -3.66%, #4638EC 100%);
  background: linear-gradient(38deg, #8338EC -3.66%, #4638EC 100%);
}

.index_desktop {
  display: none;
}

@media (min-width: 480px) {
  .index_mobile {
    display: none;
  }

  .index_desktop {
      display: block;
      min-height: 100vh;
      display: grid;
      grid-template-columns: 275px auto;
      /* background: #8338EC;
      background: -webkit-linear-gradient(304deg, #8338EC 0%, #4638EC 100%);
      background: -o-linear-gradient(304deg, #8338EC 0%, #4638EC 100%);
      background: linear-gradient(34deg, #8338EC 0%, #4638EC 100%); */
    }
}

.index_desktop_img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* =======NAVBAR========================================== */
nav {
  display: none;
}

@media (min-width: 480px) {
  nav {
    display: block;
    width: calc(100% - 0);
    height: 100px;
    margin-left: -100px;
    padding: 0 50px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, .05);
    color: white;
  }

  nav a {
    color: white;
    margin-right: 15px;
    position: relative;
  }

  .active_nav::after {
    content: '_';
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
  }

  .navbar_search input {
    width: 225px;
    margin: 0;
    padding-left: 30px;
    border-radius: 50px;
  }

  .navbar_search i {
    margin-right: -25px;
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, .4);
  }
}

/* =======SIDEBAR========================================= */
.sidebar {
  width: calc(100% - 50px);
  height: 100%;
  padding: 25px;
  background: #1c1c1c;
  backdrop-filter: blur(.2rem);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  color: white;
  position: relative;
}

@media (min-width: 480px) {
  .sidebar {
    width: 225px;
    height: 100vh;
    padding: 0 25px 0 25px;
    clip-path: polygon(0 0, 100% 0, 100% 1000%, 0% 100%);
    border-radius: 0 50px 50px 0;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.sidebar .sidebar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .sidebar .sidebar_header {
    height: 100px;
  }
}

.sidebar .sidebar_header img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.sidebar h1 {
  margin: 0;
}

.sidebar p:nth-of-type(1) {
  margin: 25px 0;
}

@media (min-width: 480px) {
  .sidebar p:nth-of-type(1) {
    margin-left: -15px;
    padding: 10px 15px;
    border-radius: 4px;
    background: rgba(255, 255, 255, .05);
  }
}

.sidebar p:nth-of-type(2) {
  color: rgba(255, 255, 255, .4);
}

.sidebar_subscribe {
  width: 240px;
  padding: 15px 0;
  position: fixed;
  bottom: 25px;
  left: 10px;
  border-radius: 4px 4px 22px 4px;
  background: rgba(131, 56, 236, .2);
}

@media (max-width: 480px) {
  .sidebar_subscribe {
    display: none;
  }
}

.sidebar_subscribe h4 {
  margin: 0 0 0 12px;
  padding-bottom: 0;
  background: none;
  font-size: .75rem;
  font-weight: 400;
}

.sidebar_subscribe input {
  width: 80%;
  margin-left: 10px;
  padding: 5px;
  background: none;
  border: 1px solid rgba(255, 255, 255, .2);
}

.sidebar_subscribe input:focus {
  border: 1px solid #3A86FF;
  -webkit-appearance: none !important;
}

.sidebar_subscribe button {
  margin: 4px 0 0 10px;
  padding: 7px 15px;
  font-size: .75rem;
}

.sidebar_subscribe p:nth-of-type(1) {
  background: none;
  margin: 0;
  font-size: .75rem;
}

/* =======FOOTBAR========================================= */
.footbar {
  width: 100%;
  height: 75px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c1c1c;
  border-radius: 100% 100% 0 0;
  z-index: 1000;
}

@media (min-width: 480px) {
  .footbar {
    display: none;
  }
}

.footbar a {
  width: 65px;
  height: 65px;
  margin: 10px;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  color: white;
}

/* =======TAB============================================= */
.tab {
  width: calc(100% - 100px);
  height: 100px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, .05);
}

.tab a {
  margin-right: 20px;
  color: white;
  font-family: 'Nerko One', cursive;
  font-size: 1rem;
}

.tab i {
  position: relative;
  margin-right: -25px;
  z-index: 2;
}

.tab input {
  padding: 7px 7px 7px 30px;
}

/* =======POEMS=LAYOUT==================================== */
.poems {
  padding: 50px 25px 125px 25px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .poems {
    width: calc(100% - 50px);
    display: block;
  }

  .poems .loader {
    margin-left: calc(50% - 14px);
  }
}

.poem_page {
  padding: 50px 25px 125px 25px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.poem_page .poem {
  width: 100%;
}

/* =======POEM=LAYOUT===================================== */
.poem {
  width: 250px;
  margin: 10px;
  padding: 10px 20px 20px 20px;
  border-radius: 24px;
  background: #9557ee;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  backdrop-filter: blur(1rem);
}

@media(max-width: 480px) {
  .poem {
    width: calc(100% - 40px);
    margin: 0 0 30px 0;
  }
}

.poem h1 {
  margin-bottom: 5px;
  font-family: 'Nerko One', cursive;
  color: #fff;
  text-transform: capitalize;
}

.poem small {
  color: rgba(255, 255, 255, .4);
}

.poem-text p {
  margin: 5px 0;
}

.poem .poem_social {
  margin: 0 0 5px 0;
}

.poem i {
  margin: 0 15px 0 0;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.poem .isLiked {
  color: red;
}

.poem .fa-facebook-f {
  padding: 5px 0 5px 15px;
  border-left: 2px solid rgba(255, 255, 255, .2);
  color: rgba(255, 255, 255, .6)
}

.poem .fa-link {
  font-size: 1rem;
  color: rgba(255, 255, 255, .6)
}

.poem span {
  color: rgba(255, 255, 255, .4);
}

.like_count {
  margin: 0;
  color: white;
  font-size: .75rem;
}

.poem hr {
  width: 35px;
  margin: 25px 0;
}

.poem_comments {
  width: 250px;
  color: white;
}

@media(max-width: 480px) {
  .poem_comments {
    width: 100%;
  }
}

.poem_comments input,
.poem_comments textarea {
  width: calc(100% - 20px);
}

::placeholder {
  color: rgba(255, 255, 255, .5);
}

.poem_comments textarea {
  min-height: 25px;
  font-size: .875rem;
}

.poem_comments button {
  font-size: .75rem;
}

.poem_comment {
  margin: 5px 0;
  padding: 10px;
  background: rgba(255, 255, 255, .05);
  border-radius: 4px;
}

/* =======ADMIN=ADD=POST================================== */
.admin {
  width: calc(90% - 40px);
  max-width: 400px;
  min-height: 250px;
  margin: 50px 5%;
  padding: 20px 20px;
  border-radius: 24px;
  background: #fff;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  backdrop-filter: blur(1rem);
  color: #fff;
}

/* =======CONTACT========================================= */
.contact {
  padding: 50px 25px 125px 25px;
  color: white;
}

@media (min-width: 480px) {
  .contact {
    width: 350px;
    padding-left: 35px;
    z-index: 10;
  }
}

.contact textarea {
  min-height: 100px;
}

.form_error {
  margin: 0 0 15px 0;
  color: #FFBE0B;
}

.form_success {
  color: white;
}

.form_success_subs {
  color: #3A86FF;
}

.contact_info {
  width: 80%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
}

.contact_info div {
  display: flex;
  align-items: center;
}

.contact_info div p {
  width: 75px;
  margin: 4px 0;
}

.contact_info a {
  color: white;
}

/* =======SUBSCRIBE======================================= */
.subscribe {
  padding: 50px 25px 125px 25px;
  color: white;
}

@media (min-width: 480px) {
  .subscribe {
    width: 250px;
    padding-left: 35px;
  }
}

.subscribe button {
  margin: 15px 0;
}

/* =======ADMIN=========================================== */
.admin_navbar {
  position: absolute;
  top: 175px;
  right: 25px;
}

@media (min-width: 480px) {
  .admin_navbar {
    top: 32px;
    left: 450px;
  }
}

.admin_navbar i {
  padding: 10px 15px;
  margin-left: 15px;
  border-radius: 4px;
  background: rgba(33, 33, 33, .2);
  color: white;
}

.admin_login,
.admin_dashboard,
.admin_add,
.admin_poem {
  padding: 50px 25px 125px 25px;
  color: white;
}

@media (min-width: 480px) {
  .admin_login, {
    max-width: 250px;
  }

  .admin_login,
  .admin_dashboard,
  .admin_add,
  .admin_poem {
    padding-left: 35px;
  }

  .admin_add,
  .admin_poem,
  .admin_subscribers {
    max-width: 450px;
  }
}

.admin_login button {
  margin: 15px 0;
}

.admin_dashboard hr {
  height: 2px;
  margin: -5px 0 10px 0;
  border: none;
  background: rgba(255, 255, 255, .2);
}

.admin_subscribers {
  width: 100%;
  display: flex;
}

.admin_subscribers p {
  margin: 5px 0;
}

.admin_subscribers p:nth-of-type(1) {
  width: 25px;
}

.admin_poems {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin_poems_nr,
.admin_poems .fa-trash,
.admin-poems .fa-circle {
  width: 25px;
}

.admin_poems .fa-trash {
  color: #FFBE0B;
}

.admin_poems_likes,
.admin_poems_comments {
  width: 50px;
}

.admin_poems_name {
  width: calc(100% - 150px);
  color: white;
}

@media (min-width: 480px) {
  .admin_poems {
    width: 450px;
  }

  .admin_dashboard hr {
    width: 450px;
  }
}

.admin_analytics {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 2px;
  padding: 5px 0;
}

@media (min-width: 480px) {
  .admin_analytics {
    width: 350px;
  }
}

.admin_analytics div {
  width: calc(100% - 8px);
  height: 75px;
  margin-bottom: 15px;
  display: grid;
  place-items: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, .05);
  text-align: center;
  color: rgba(255, 255, 255, .7);
}

.public-DraftEditor-content {
  width: 96%;
  min-height: 150px;
  border-left: 5px solid red;
  margin: 5px 0 5px 0;
  padding: 7px;
  border: 3px solid rgba(255, 255, 255, .2);
  border-radius: 4px;
  outline: none;
  background: #fff;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  backdrop-filter: blur(1rem);
  color: white;
  -webkit-appearance: none !important;
  font-size: .875rem;
  position: relative;
  z-index: 1;
}

.admin_poem button {
  margin-top: 10px;
}

.admin_poem hr {
  height: 3px;
  margin: 35px 0;
  border: none;
  background: rgba(255, 255, 255, .4)
}

.admin_poem_comment hr {
  width: 35px;
  height: 3px;
  margin: 10px 0;
  border: none;
  background: rgba(255, 255, 255, .2)
}

.admin_poem_comment div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin_poem_comment div p {
  margin: 0;
}

.admin_poem_comment i {
  cursor: pointer;
}

/* =======ANALYTICS=================================== */
.analytics_page {
  width: calc(100% - 50px);
  padding: 50px 25px 125px 25px;
}

@media (max-width: 480px) {
  .analytics_page {
    width: 90%;
    padding: 75px 5% 125px 5%;
  }
}

/* =======CALENDAR==================================== */
.calendar {
  width: 325px;
  margin-bottom: 50px;
  padding: 10px;
  font-size: .75rem;
  border-radius: 24px;
  background: #fff;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  backdrop-filter: blur(1rem);
  color: white;
}

@media (max-width: 480px) {
  .calendar {
    width: calc(100% - 20px);
  }
}

.calendar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--graysmoke);
  border-radius: 14px;
}

.calendar_header i {
  width: 45px;
  text-align: center;
  cursor: pointer;
}

.calendar table {
  width: 100%;
  text-align: center;
}

.calendar_days div,
.calendar_non_active_date {
  color: rgba(33, 33, 33, .7);
  padding: 10px 0;
}

.calendar_date {
  padding: 10px 0;
}

.calendar_active_date {
  color: black;
  background: white;;
  border-radius: 4px;
}
